################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/MvcTemplate/MvcTemplate/bin/Debug/net5.0
/MvcTemplate/MvcTemplate/obj
/MvcTemplate/MvcDashboard/bin/Debug/net5.0
/MvcTemplate/MvcDashboard/obj
